*
!/.circleci
!/.circleci/**
!/.codeclimate.yml
!/.eslintignore
!/.eslintrc
!/.gitbook.yaml
!/.github/
!/.github/**
!/.gitignore
!/.nowignore
!/.nvmrc
!/.prettierignore
!/.prettierrc
!/CONTRIBUTING.md
!/LICENSE.md
!/README.md
!/SECURITY.md
!/SUMMARY.md
!/changelog.md
!/code-of-conduct.md
!/docs/
!/docs/**
!/examples/
!/examples/sandbox/
!/examples/sandbox/index.html
!/examples/sandbox/index.ts
!/examples/sandbox/json/
!/examples/sandbox/json/**
!/examples/sandbox/package.json
!/examples/sandbox/tsconfig.json
!/integration/
!/integration/jest.config.js
!/integration/json.d.ts
!/integration/package.json
!/integration/src/
!/integration/src/**
!/integration/tsconfig.json
!/integration/yarn.lock
!/jest.config.js
!/lerna.json
!/package.json
!/packages/
!/packages/*
!/packages/*/.npmignore
!/packages/*/__mocks__
!/packages/*/__mocks__/**
!/packages/*/jest.config.js
!/packages/*/package.json
!/packages/*/src/
!/packages/*/src/**
!/packages/*/tsconfig.json
!/patches/
!/patches/**
!/tsconfig.json
!/vercel.json
!/yarn.lock
