*

# directories
!/.circleci
!/.circleci/**
!/.github/
!/.github/**
!/docs/
!/docs/**

!/examples/
!/examples/*
!/examples/sandbox/*
!/examples/sandbox/json/
!/examples/sandbox/json/**

!/integration/
!/integration/*
!/integration/src/
!/integration/src/**

!/packages/
!/packages/*
!/packages/*/src/
!/packages/*/src/**
!/packages/*/.npmignore
!/packages/*/jest.config.js
!/packages/*/package.json
!/packages/*/tsconfig.json
!/packages/*/__mocks__
!/packages/*/__mocks__/**

!/patches/
!/patches/**

# files in root directory
!/.codeclimate.yml
!/.gitbook.yaml
!/.gitignore
!/.nowignore
!/.nvmrc
!/.prettierignore
!/.prettierrc
!/CONTRIBUTING.md
!/LICENSE.md
!/README.md
!/SECURITY.md
!/SUMMARY.md
!/changelog.md
!/code-of-conduct.md
!/jest.config.js
!/lerna.json
!/package.json
!/tsconfig.json
!/vercel.json
!/yarn.lock
