version: 2.1

orbs:
  hdwallet:
    executors:
      node:
        docker:
          - image: cimg/node:16.14
      kkemu:
        docker:
          - image: cimg/node:16.14
          - image: kktech/kkemu:latest
    jobs:
      build:
        description: Get deps and persist to workspace
        executor: kkemu
        environment:
          JEST_JUNIT_OUTPUT: "test-results/js-test-results.xml"
        steps:
          - run: sudo apt-get update && sudo apt-get install libudev-dev libusb-dev libusb-1.0 libtool
          - checkout
          - run:
              name: Authenticate with registry
              command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
          - restore_cache:
              name: Restore Yarn Package Cache
              keys:
                - cache-v6-{{ checksum "yarn.lock" }}
          - run: yarn --frozen-lockfile --cache-folder ./.yarn-cache
          - run:
              no_output_timeout: 30m
              name: Build packages
              command: yarn build
          - run:
              name: Lint
              command: yarn lint
          - run:
              name: Run unit tests
              command: yarn test --runInBand --coverage=false
          - run:
              name: Run integration tests
              command: yarn test:integration --runInBand
          - store_test_results:
              path: test-results
          - persist_to_workspace:
              root: .
              paths:
                - node_modules
                - .npmrc
                - .yarn-cache
          - save_cache:
              name: Save Yarn Package Cache
              key: cache-v6-{{ checksum "yarn.lock" }}
              paths:
                - .yarn-cache
          - run:
              name: Ensure repo is clean from uncommitted changes, likely yarn.lock is out of date
              command: git diff --quiet || exit 1
      release-packages:
        description: Build and release local dependency packages
        executor: node
        steps:
          - checkout
          - attach_workspace:
              at: .
          - run: yarn --cache-folder .yarn-cache
          - run: git status
          - run: ./node_modules/.bin/lerna publish from-package --yes --no-verify-access
workflows:
  version: 2
  Build and Release:
    jobs:
      - hdwallet/build:
          name: build
      - hdwallet/release-packages:
          name: release-packages
          requires:
            - build
          filters:
            branches:
              only:
                - master
                - v1-legacy
